.list-style{
  list-style-type: none;
 }
 
 .list-style{
   background-color: rgb(139, 177, 209);
   list-style-type: none;
   margin: 9px;
   display: flex;
   padding: 15px;
  
 }
 
 li div{
   max-width:550px;
   margin-left: 70px;
 }
 